<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpapp.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcpapp.Perspective"
            id="RCPApp.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rcpapp.command.OpenHandler"
            id="rcapp.command.Open"
            name="Open">
      </command>
      <command
            defaultHandler="rcpapp.command.SaveHandler"
            id="rcapp.command.Save"
            name="Save">
      </command>
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.QuitHandler"
            id="rcapp.command.Exit"
            name="Exit">
      </command>
      <command
            id="rcapp.command.AddNode"
            name="AddNode">
      </command>
      <command
            id="rcapp.command.AddFolderNode"
            name="AddFolderNode">
      </command>
      <command
            defaultHandler="rcpapp.command.EditNodeHandler"
            id="rcapp.command.EditNode"
            name="EditNode">
    </command>and>
      <command
            defaultHandler="rcpapp.command.DeleteNodeHandler"
            id="rcapp.command.DeleteNode"
            name="DeleteNode">
      </command>
      <command
            defaultHandler="rcpapp.command.SaveNodeHandler"
            id="rcapp.command.SaveNode"
            name="SaveNode">
      </command>
      <command
            defaultHandler="rcpapp.command.SaveAllNodeHandler"
            id="rcapp.command.SaveAllNode"
            name="SaveAllNode">
      </command>
      <command
            defaultHandler="rcpapp.command.OpenTreeEditorHandler"
            id="rcapp.command.OpenEditor"
            name="Open Tree Editor">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
         <command
                  commandId="rcapp.command.Open"
                  icon="icons/folder.png"
                  label="Open"
                  style="push">h">
            </command>
         <command
                  commandId="rcapp.command.Save"
                  icon="icons/drive_disk.png"
                  label="Save"
                  style="push">h">
            </command>
         <command
                  commandId="rcapp.command.Exit"
                  icon="icons/door_out.png"
                  label="Exit"
                  style="push">h">
            </command>
         </menu>
         <menu
               id="nodeMenu"
               label="Node">
            <command
                  commandId="rcapp.command.AddNode"
                  icon="icons/add.png"
                  label="AddNode"
                  style="push">
            </command>
            <command
                  commandId="rcapp.command.AddFolderNode"
                  icon="icons/folder_add.png"
                  label="AddFolderNode"
                  style="push">
            </command>
            <command
                  commandId="rcapp.command.EditNode"
                  icon="icons/application_edit.png"
                  label="EditNode"
                  style="push">
            </command>
            <command
                  commandId="rcapp.command.DeleteNode"
                  icon="icons/cross.png"
                  label="DeleteNode"
                  style="push">
            </command>
            <command
                  commandId="rcapp.command.SaveNode"
                  icon="icons/disk.png"
                  label="SaveNode"
                  style="push">
            </command>
            <command
                  commandId="rcapp.command.SaveAllNode"
                  icon="icons/disk_multiple.png"
                  label="SaveAllNode"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="rcapp.toolbar.Open">
            <command
                  commandId="rcapp.command.Open"
                  icon="icons/folder.png"
                  label="Open"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="rcapp.toolbar.Save">
            <command
                  commandId="rcapp.command.Save"
                  icon="icons/drive_disk.png"
                  label="Save"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="rcapp.toolbar.Exit">
            <command
                  commandId="rcapp.command.Exit"
                  icon="icons/door_out.png"
                  label="Exit"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="rcapp.toolbar.AddNode">
            <command
                  commandId="rcapp.command.AddNode"
                  icon="icons/add.png"
                  label="AddNode"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="rcapp.toolbar.AddFolderNode">
            <command
                  commandId="rcapp.command.AddFolderNode"
                  icon="icons/folder_add.png"
                  label="AddFolderNode"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="rcapp.toolbar.EditNode">
            <command
                  commandId="rcapp.command.EditNode"
                  icon="icons/application_edit.png"
                  label="EditNode"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="rcapp.toolbar.DeleteNode">
            <command
                  commandId="rcapp.command.DeleteNode"
                  icon="icons/cross.png"
                  label="DeleteNode"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="rcapp.toolbar.SaveNode">
            <command
                  commandId="rcapp.command.SaveNode"
                  icon="icons/disk.png"
                  label="SaveNode"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="rcapp.toolbar.SaveAllNode">
            <command
                  commandId="rcapp.command.SaveAllNode"
                  icon="icons/disk_multiple.png"
                  label="SaveAllNode"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcpapp.view.TreeView"
            id="rcpapp.view.TreeView"
            name="Tree View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="RCPApp.perspective">
         <view
               id="rcpapp.view.TreeView"
               minimized="false"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rcpapp.editor.NodeEditor"
            id="rcpapp.view.NodeEditor"
            name="Tree Editor">
      </editor>
   </extension>
   
    <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="rcpapp.view.CommandStateProvider">
         <variable
               name="isFolder"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   
    <extension
          point="org.eclipse.ui.handlers">
       <handler
            commandId="rcapp.command.AddNode">
             <activeWhen>
            <with
                  variable="isFolder">
                      <equals
                        value="true">
                  	  </equals>
             </with>
         </activeWhen>
           <class
               class="rcpapp.command.AddNodeHandler">
          </class>
       </handler>
       
        <handler
            commandId="rcapp.command.AddFolderNode">
             <activeWhen>
            <with
                  variable="isFolder">
                      <equals
                        value="true">
                  	  </equals>
             </with>
         </activeWhen>
           <class
               class="rcpapp.command.AddFolderNodeHandler">
          </class>
       </handler>
        <handler
              commandId="rcapp.command.EditNode">
        </handler>
    </extension>
    <extension
          point="org.eclipse.ui.elementFactories">
       <factory
             class="rcpapp.editor.NodeEditorInputFactory"
             id="rcpapp.NodeEditorInputFactory">
       </factory>
    </extension>
   

</plugin>
